<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <img src="#" alt="perfil">
  <p>¿Te identificas cómo?:</p>
  <input type="checkbox" name="female" id="female">Mujer
  <input type="checkbox" name="male" id="male">Hombre
  <div>
    <label> Nombre Completo </label>
    <input formControlName="nombre" type="text" placeholder="Ingresa tu nombre completo" />

    <label> Correo Electronico </label>
    <input formControlName="email" type="email" placeholder="Ingresa tu correo" />

    <!-- <label for="rut">RUT</label>
    <input type="text" id="reactiveRut" placeholder="Ingresa el RUT" [formControl]="registerForm.controls.rut" formatRut>
    <ul [hidden]="registerForm.controls.rut.valid || registerForm.controls.rut.pristine">
      <li *ngIf="registerForm.controls.rut.errors && registerForm.controls.rut.errors.required">Requerido</li>
      <li *ngIf="registerForm.controls.rut.errors && registerForm.controls.rut.errors.invalidRut">Invalido</li>
    </ul> -->

    <label> Telefono </label>
    <input formControlName="phone" type="number" placeholder="Ingresa tu número de telefono" />

    <label for="login-pass" class="form-label"> Contraseña </label>
    <input formControlName="pass" type="password" placeholder="******" />
  </div>

  <button type="submit"> REGISTRARME </button>
  <button type="button" routerLink='/Login'> VOLVER </button>
</form>