<section>
  <nav>
    <img src="../../../assets/img/lotus-nav.png" alt="logoNav">
    <h6>SORORIDAPP</h6>
    <i class="fas fa-sign-out-alt" (click)="onLogout()"></i>
    <i class="fas fa-question"></i>
    <i class="far fa-user" routerLink='/Perfil'></i>
  </nav>
<div>
  <h3>¡Activa tu alarma!</h3>
  <button type="button" (click)="onNosafe()">
    Insegura
  </button>

  <button type="button" (click)="onDanger()">
    En Peligro
  </button>

  <button routerLink='/Map'>Ver zona segura
  <span>
    <i class="fas fa-map-marker-alt"></i>
  </span>
  </button>
</div>
</section>