<form [formGroup]="authForm" *ngIf="!(authService.user | async)">

    <div class="container-fluid">
      <input type="email" placeholder=" Email" formControlName="email">
      <input type="password" placeholder=" Contraseña" formControlName="password">
    </div>

    <section class="container-fluid">
      <button type="button" (click)="onLogin()">
      Iniciar Sesión
      </button>
    </section>

    <section class="container-fluid">
      <button routerLink="/Registro" type="button">
        REGÍSTRATE
      </button>
    </section>

  </form>